
.DS_Store
/node_modules/*
/private/*
poem.html
emoji/*.js
emoji/*.js.map
build/*.js
build/*.js.map
script/index.js
script/index.js.map
script/locale.js
script/locale.js.map
style/primary.css
style/theme.dark.css
style/theme.light.css
