* {
  font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
  font: -apple-system-body;
  outline: none;
}
body {
  margin: 0px;
  line-height: 100%;
  color: #000022;
  background-color: #FFFFFF;
}
body.locale-parallel-on .locale-map {
  display: none;
}
body.locale-parallel-off .locale-parallel {
  display: none;
}
.icon svg {
  fill: #000022;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #FFFFFF;
    background-color: #000022;
  }
  .icon svg {
    fill: #FFFFFF;
  }
}
h1 {
  margin: 0rem;
  padding: 0.25rem;
  color: #FFFFFF;
  background-color: #228844;
  font-size: 1.2rem;
  font-weight: normal;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1 .icon {
  display: inline-block;
  margin-right: 0.25rem;
}
h1 .icon svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: #FFFFFF;
}
h1 label {
  border-radius: 32px;
  padding: 4px 16px;
}
h1 label select,
h1 label select + span {
  border-radius: 32px;
  padding: 4px 16px;
  font-size: 1.2rem;
  font-weight: normal;
}
h1 label select {
  margin-left: -16px;
  padding-left: 32px;
}
h1 label select + span {
  color: #FFFFFF;
}
h1 label:hover {
  background-color: #21788B;
}
h1 button.menu-button:not(:hover) {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #228844;
}
h1 button.menu-button:not(:hover) svg {
  fill: #FFFFFF;
}
h1 .menu-popup {
  top: 9px;
  right: -0.5rem;
}
@media (prefers-color-scheme: dark) {
  h1 {
    color: #000022;
  }
  h1 .icon svg {
    fill: #000022;
  }
  h1 label select + span {
    color: #000022;
  }
  h1 button.menu-button:not(:hover) {
    float: right;
    color: #000022;
    border-color: #000022;
  }
  h1 button.menu-button:not(:hover) svg {
    fill: #000022;
  }
}
label {
  cursor: pointer;
}
label:hover {
  color: #21788B;
}
label select {
  position: absolute;
  color: transparent;
  background-color: transparent;
  pointer-events: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
label select option {
  color: initial;
}
label select + span {
  text-align: center;
  pointer-events: none;
}
input {
  margin: 4px;
  padding: 4px 16px;
  border-radius: 32px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
  font-size: 1rem;
  min-width: 120px;
}
button {
  margin: 4px;
  background-color: #FFFFFF;
  color: #228844;
  border-color: #228844;
  padding: 4px 16px;
  border-radius: 32px;
  border-style: solid;
  border-width: 1px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
button.menu-button {
  padding: 4px;
}
button.menu-button svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #228844;
}
button.menu-button:not(:hover) .screen-cover,
button.menu-button:not(:hover) .screen-cover + .menu-popup {
  display: none;
}
button.menu-button .screen-cover:hover,
button.menu-button .screen-cover:hover + .menu-popup {
  display: none;
}
button:hover {
  color: #FFFFFF;
  background-color: #21788B;
  border-color: #21788B;
}
button:hover.menu-button svg {
  fill: #FFFFFF;
}
@media (prefers-color-scheme: dark) {
  button {
    background-color: #000022;
  }
  button:hover {
    color: #000022;
  }
  button:hover.menu-button svg {
    fill: #000022;
  }
}
.long-button {
  position: relative;
  margin: 0.5rem 1rem;
  width: calc(100% - (2rem + 2px));
  max-width: 640px;
  float: center;
}
button.default-button {
  color: #FFFFFF;
  background-color: #228844;
  border-color: #228844;
}
button.default-button:hover {
  background-color: #21788B;
  border-color: #21788B;
}
@media (prefers-color-scheme: dark) {
  button.default-button {
    color: #000022;
  }
  button.default-button:hover {
    background-color: #21788B;
    border-color: #21788B;
  }
}
.menu-popup {
  position: absolute;
  top: calc(9px - 0.5rem);
  right: -1rem;
  z-index: 99999;
  padding: 1rem;
  padding-top: 2rem;
  border-radius: 1rem;
}
.menu-popup .menu-popup-body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  color: #228844;
  background-color: #FFFFFF;
  border-color: #228844;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  font-size: 1.5rem;
  overflow: hidden;
}
.menu-popup .menu-popup-body button {
  border-radius: 0px;
  margin: 0px !important;
  border-style: none;
  border-width: 0px;
  font-size: 1.2rem;
  text-align: left;
}
.menu-popup:active {
  z-index: 11111;
}
@media (prefers-color-scheme: dark) {
  .menu-popup .menu-popup-body {
    background-color: #000022;
  }
}
.hide {
  display: none;
}
.screen-cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #000022;
  z-index: 88888;
  animation-name: fade-in;
  animation-direction: normal;
  animation-delay: 0s;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
.row-flex-list,
.column-flex-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
}
.row-flex-list {
  flex-direction: row;
}
.column-flex-list {
  flex-direction: column;
}
.flex-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  min-width: calc(100% / 1);
  border-width: 1px;
  margin: -0.5px;
}
@media (min-width: 780px) {
  .flex-item {
    min-width: calc(100% / 2);
  }
}
@media (min-width: 1170px) {
  .flex-item {
    min-width: calc(100% / 3);
  }
}
@media (min-width: 1560px) {
  .flex-item {
    min-width: calc(100% / 4);
  }
}
@media (min-width: 1950px) {
  .flex-item {
    min-width: calc(100% / 5);
  }
}
@media (min-width: 2340px) {
  .flex-item {
    min-width: calc(100% / 6);
  }
}
@media (min-width: 2730px) {
  .flex-item {
    min-width: calc(100% / 7);
  }
}
@media (min-width: 3120px) {
  .flex-item {
    min-width: calc(100% / 8);
  }
}
@media (min-width: 3510px) {
  .flex-item {
    min-width: calc(100% / 9);
  }
}
@media (min-width: 3900px) {
  .flex-item {
    min-width: calc(100% / 10);
  }
}
@media (min-width: 4290px) {
  .flex-item {
    min-width: calc(100% / 11);
  }
}
@media (min-width: 4680px) {
  .flex-item {
    min-width: calc(100% / 12);
  }
}
.task-item {
  padding: 0.5rem;
  border-color: rgba(128, 128, 128, 0.5);
  border-style: solid;
}
.task-item .task-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}
.task-item .task-header .task-title {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1em;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 1em;
  max-width: calc(100% - 180px);
  margin-right: -120px;
}
.task-item .task-header .task-operator {
  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.task-item .task-header .task-operator button {
  display: inline-block;
  margin: 0px;
}
.task-item .task-header .task-operator button + button {
  margin-left: 4px;
}
.task-item .task-information {
  padding: 0.5rem;
  margin: -0.5rem;
  margin-top: 0px;
}
.task-item .task-information * {
  line-height: 1.4em;
}
.task-item .task-information .label {
  font-size: 1rem;
  opacity: 0.4;
  margin-right: -50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 180px);
}
.task-item .task-information .label::after {
  content: ":";
}
.task-item .task-information .value {
  font-size: 1rem;
  opacity: 0.4;
  float: right;
}
.welcome-screen h1 {
  margin-bottom: 1em;
  text-align: center;
}
.welcome-screen > .application-icon {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  max-width: 90vw;
  max-height: 80vh;
  display: block;
}
.application-form button {
  margin-left: calc(8em + 4px);
  width: 16em;
}
