*
{
    font-family: "MS Gothic";
    color: #000022;
}
body
{
    margin: 1rem;
    line-height: 100%;
}
h1
{
    margin: -1rem;
    margin-bottom: 0em;
    padding: 1rem;
    color: #FFFFFF;
    background-color: #000022;
}
h2
{
    display: inline-flex;
    align-items: center;

    div.identity
    {
        div
        {
            display: inline-flex;
            align-items: center;
            margin-right: 8px;

            *
            {
                margin-right: 8px;
            }

            img
            {
                height: 32px;
                width: 32px;
                border-radius: 4px;
            }

            span + span
            {
                color: #888;
            }
        }
    }
}
.github
{
    float: right;
    margin-top: 1rem;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #000022;
}
label
{
    display: block;
    span
    {
        width: 8em;
        display: inline-block;
    }
    input
    {
        width: 16em;
    }
}
input
{
    margin: 4px;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    font-size: 1.0rem;

    min-width: 120px;
}
button
{
    margin: 4px;
    color: #FFFFFF;
    background-color: #228844;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    font-weight: bold;
    font-size: 1.0rem;
    cursor: pointer;

    &.sub
    {
        color: #228844;
        background-color: #FFFFFF;
        border-color: #228844;
        padding: 4px 8px;
    }
}
.application-form
{
    button
    {
        margin-left: calc(8em + 4px);
        width: 16em;
    }
}