@main-color: #000022;
@base-color: #FFFFFF;
@accent-color: #228844;
@active-color: #21788B;
@delete-color: #831B50;
@dark-main-color: @base-color;
@dark-base-color: @main-color;

*
{
    font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
    font: -apple-system-body;
    outline:none;
}
.monospace
{
    font-family: monospace;
}
body
{
    margin: 0px;
    margin-bottom: 5rem; // for iOS Safari
    line-height: 100%;
    &.locale-parallel-on
    {
        .locale-map
        {
            display: none;
        }
    }
    &.locale-parallel-off
    {
        .locale-parallel
        {
            display: none;
        }
    }
}
body, input, textarea
{
    color: @main-color;
    background-color: @base-color;
}
.icon svg
{
    fill: @main-color;
}
@media (prefers-color-scheme: dark)
{
    body, input, textarea
    {
        color: @dark-main-color;
        background-color: @dark-base-color;
    }
    .icon svg
    {
        fill: @dark-main-color;
    }
}
h1
{
    margin: 0rem;
    padding: 0.25rem;
    color: @base-color;
    background-color: @accent-color;
    font-size: 1.2rem;
    font-weight: normal;
    max-width: 100vw;
    overflow-x: hidden;
    position: static;
    display: flex;
    flex-direction: row;
    //justify-content: start;
    justify-content: space-between;
    align-items: center;

    .icon
    {
        display: inline-block;
        svg
        {
            width: 2.5rem;
            height: 2.5rem;
            fill: @base-color;
        }
        margin-right: 0.25rem;
    }
    label
    {
        border-radius: 32px;
        padding: 4px 16px;
        select,
        select + span
        {
            border-radius: 32px;
            padding: 4px 16px;
            font-size: 1.2rem;
            font-weight: normal;
        }
        select
        {
            margin-left: -16px;
            padding-left: 32px;
        }
        select + span
        {
            color: @base-color;
        }
        &:hover
        {
            background-color: @active-color;
        }
    }
    button.menu-button:not(:hover)
    {
        color: @base-color;
        border-color: @base-color;
        background-color: @accent-color;
        svg
        {
            fill: @base-color;
        }
    }
    .menu-popup
    {
        top: calc(10px + 2.0rem);
        right: 0.5rem;
    }
}
@media (prefers-color-scheme: dark)
{
    h1
    {
        color: @dark-base-color;
        .icon svg
        {
            fill: @dark-base-color;
        }
        label
        {
            select + span
            {
                color: @dark-base-color;
            }
        }
        button.menu-button:not(:hover)
        {
            float: right;
            color: @dark-base-color;
            border-color: @dark-base-color;
            svg
            {
                fill: @dark-base-color;
            }
        }
    }
}
label
{
    cursor: pointer;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    &:hover
    {
        color: @active-color;
    }
    select
    {
        position: absolute;
        color: transparent;
        background-color: transparent;
        pointer-events: auto;
        // width: calc(100% - 10px);
        // min-width: calc(100% - 10px);
        // max-width: calc(100% - 10px);
        // margin-left: calc(10px - 100%);
        // text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        cursor: pointer;
        border-width: 0px;
        border-style: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        option
        {
            color: initial;
        }
    }
    select + span
    {
        text-align: center;
        pointer-events: none;
    }
}
input
{
    margin: 4px;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    font-size: 1.0rem;
    min-width: 120px;
}
button
{
    margin: 4px;
    background-color: @base-color;
    color: @accent-color;
    border-color: @accent-color;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 1.0rem;
    cursor: pointer;
    &.menu-button
    {
        // background-color: transparent;
        // border-color: transparent;
        padding: 4px;
        svg
        {
            width: 1.5rem;
            height: 1.5rem;
            fill: @accent-color;
        }
    }
    &:hover
    {
        color: @base-color;
        background-color: @active-color;
        border-color: @active-color;
        &.menu-button
        {
            svg
            {
                fill: @base-color;
            }
        }
    }
}
@media (prefers-color-scheme: dark)
{
    button
    {
        background-color: @dark-base-color;
        &:hover
        {
            color: @dark-base-color;
            &.menu-button
            {
                svg
                {
                    fill: @dark-base-color;
                }
            }
        }
    }
}
.long-button
{
    position: relative;
    margin: 0.5rem 1rem;
    width: calc(100% - (2rem + 2px));
    max-width: 640px;
    float: center;
}
button.default-button
{
    color: @base-color;
    background-color: @accent-color;
    border-color: @accent-color;
    &:hover
    {
        background-color: @active-color;
        border-color: @active-color;
    }
}
@media (prefers-color-scheme: dark)
{
    button.default-button
    {
        color: @dark-base-color;
        &:hover
        {
            background-color: @active-color;
            border-color: @active-color;
        }
    }
}
.menu-popup
{
    &:not(.show)
    {
        display: none;
    }
    position: absolute;
    top: calc(10px + 1.5rem);
    right: 0.0rem;
    z-index: 99999;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    color: @accent-color;
    background-color: @base-color;
    border-color: @accent-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    overflow: hidden;
    button
    {
        // display: block !important;
        border-radius: 0px;
        margin: 0px !important;
        border-style: none;
        border-width: 0px;
        font-size: 1.2rem;
        text-align: left;
    }
}
@media (prefers-color-scheme: dark)
{
    .menu-popup
    {
        .menu-popup-body
        {
            background-color: @dark-base-color;
        }
    }
}
.hide
{
    display: none;
}
.screen-cover
{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: @main-color;
    z-index: 88888;
    &.fade-in
    {
        animation-name: fade-in;
    }
    &.fade-out
    {
        animation-name: fade-out;
    }
    animation-direction: normal;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes fade-in
{
    0%
    {
        opacity: 0.0;
    }
    100%
    {
        opacity: 0.618;
    }
}
@keyframes fade-out
{
    0%
    {
        opacity: 0.618;
    }
    100%
    {
        opacity: 0.0;
    }
}
.button-list
{
    text-align: center;
    padding: 0.5rem;
}
.row-flex-list,
.column-flex-list
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
}
.row-flex-list
{
    flex-direction: row;
}
.column-flex-list
{
    flex-direction: column;
    //height: calc(100vh - (2.5rem + 10px));
}
.flex-item
{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: calc(100% / 1);
    border-color: rgba(128,128,128,0.5);
    border-style: solid;
    border-width: 1px;
    margin: -0.5px;
    @media (min-width:780px)
    {
        min-width: calc(100% / 2);
    }
    @media (min-width:1170px)
    {
        min-width: calc(100% / 3);
    }
    @media (min-width:1560px)
    {
        min-width: calc(100% / 4);
    }
    @media (min-width:1950px)
    {
        min-width: calc(100% / 5);
    }
    @media (min-width:2340px)
    {
        min-width: calc(100% / 6);
    }
    @media (min-width:2730px)
    {
        min-width: calc(100% / 7);
    }
    @media (min-width:3120px)
    {
        min-width: calc(100% / 8);
    }
    @media (min-width:3510px)
    {
        min-width: calc(100% / 9);
    }
    @media (min-width:3900px)
    {
        min-width: calc(100% / 10);
    }
    @media (min-width:4290px)
    {
        min-width: calc(100% / 11);
    }
    @media (min-width:4680px)
    {
        min-width: calc(100% / 12);
    }
}
.max-column-1 .flex-item
{
    min-width: calc(100% / 1);
    max-width: calc(100% / 1);
}
.max-column-2 .flex-item
{
    min-width: calc(100% / 2);
    max-width: calc(100% / 2);
}
.max-column-3 .flex-item
{
    min-width: calc(100% / 3);
    max-width: calc(100% / 3);
}
.max-column-4 .flex-item
{
    min-width: calc(100% / 4);
    max-width: calc(100% / 4);
}
.max-column-5 .flex-item
{
    min-width: calc(100% / 5);
    max-width: calc(100% / 5);
}
.max-column-6 .flex-item
{
    min-width: calc(100% / 6);
    max-width: calc(100% / 6);
}
.max-column-7 .flex-item
{
    min-width: calc(100% / 7);
    max-width: calc(100% / 7);
}
.max-column-8 .flex-item
{
    min-width: calc(100% / 8);
    max-width: calc(100% / 8);
}
.max-column-9 .flex-item
{
    min-width: calc(100% / 9);
    max-width: calc(100% / 9);
}
.max-column-10 .flex-item
{
    min-width: calc(100% / 10);
    max-width: calc(100% / 10);
}
.max-column-11 .flex-item
{
    min-width: calc(100% / 11);
    max-width: calc(100% / 11);
}
.max-column-12 .flex-item
{
    min-width: calc(100% / 12);
    max-width: calc(100% / 12);
}
.list-item,
.task-item
{
    padding: 0.5rem;
    //min-width: calc((100vw / 8) + 1px);
    //width: 480px;
    //max-width: 100vw;

    .item-header
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .item-title
        {
            display: inline-block;
            font-size: 1.2rem;
            line-height: 1.0em;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 1em;
            max-width: calc(100% - 180px);
            margin-right: -120px;
            cursor: pointer;
            &:hover
            {
                color: @active-color;
            }
            &:not(:hover)
            {
                color: @main-color;
                text-decoration: none;
            }
        }
        .item-operator
        {
            position: relative;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            button
            {
                display: inline-block;
                margin: 0px;
            }
            button+button
            {
                margin-left: 4px;
            }
        }
    }
}
.task-item
{
    .item-header
    {
        padding-bottom: 0.5rem;
    }
    .item-tags
    {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.5rem;
        margin: 0px -0.5rem;
        background-color: #8884;
        height: 1rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        a
        {
            color: @main-color;
            opacity: 0.6;
            &:not(:hover)
            {
                text-decoration: none;
            }
            @media (prefers-color-scheme: dark)
            {
                color: @dark-main-color;
            }
        }
        a + a
        {
            margin-left: 1rem;
        }
    }
    .item-information
    {
        padding: 0.5rem;
        margin: -0.5rem;
        margin-top: 0px;
        *
        {
            line-height: 1.4em;
        }
        .label
        {
            font-size: 1.0rem;
            opacity: 0.4;
            margin-right: -50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 180px);
            &::after
            {
                content: ":";
            }
        }
        .value
        {
            font-size: 1.0rem;
            opacity: 0.4;
            float: right;
        }
    }
}
@media (prefers-color-scheme: dark)
{
    .list-item .item-header .item-title:not(:hover),
    .task-item .item-header .item-title:not(:hover)
    {
        color: @dark-main-color;
    }
}
body.locale-parallel-on .task-item .item-header .item-title
{
    max-width: calc(100% - 180px);
}
body.locale-parallel-off .task-item .item-header .item-title
{
    max-width: calc(100% - 120px);
}
.history-list
{
    .history-item
    {
        position: relative;
        padding: 0.5rem;
        & > *
        {
            display: inline-block !important;
            //width: calc(50% - 2rem);
            line-height: 1.4em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
        }
        .item-title
        {
            font-size: 1.2rem;
            line-height: 1.0em;
            box-sizing: border-box;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 1em;
            //max-width: calc(100% - 180px);
            margin-right: -120px;
            cursor: pointer;
            &:hover
            {
                color: @active-color;
            }
            &:not(:hover)
            {
                color: @main-color;
                text-decoration: none;
            }
        }
        .value
        {
            float: right;
            text-align: right;
        }
    }
}
@media (prefers-color-scheme: dark)
{
    .history-list .history-item .item-title:not(:hover)
    {
        color: @dark-main-color;
    }
}
.todo-screen
{
    .task-item
    {
        padding-top: 0px;
    }
    .tick-list
    {
        .tick-item
        {
            position: relative;
            padding: 0.5rem;

            & > *
            {
                width: 100%;
                line-height: 1.4em;
                position: relative;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
            .value
            {
                float: right;
            }
        }
    }
}
.welcome-screen
{
    h1
    {
        margin-bottom: 1em;
        text-align: center;
    }
    & > .application-icon
    {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 400px;
        max-width: 90vw;
        max-height: 80vh;
        display: block;
    }
}
.export-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (2.5rem + 10px));
    }
}
.import-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (12.5rem + 10px));
    }
}
.application-form
{
    button
    {
        margin-left: calc(8em + 4px);
        width: 16em;
    }
}
