@import "style/params.less";
@main-color: @white-color;
@base-color: @black-color;

body.dark
{
    ::-webkit-calendar-picker-indicator
    {
        filter: invert(1);
    }
    @import "style/index.less";
}
