@import "params.less";
@import "traits.less";

&
{
    font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
    font: -apple-system-body;
    outline:none;
}
input, textarea
{
    .positive-foreground-coloring-trait;
    transition: background-color 1s;
    .positive-background-coloring-trait;
}
&
{
    margin: 0px;
    margin-bottom: 5rem; // for iOS Safari
    line-height: 100%;
    overflow: hidden;
    .positive-foreground-coloring-trait;
    background-color: fade(@accent-color, 95%);
}
// @media (prefers-color-scheme: dark)
// {
//     ::-webkit-calendar-picker-indicator
//     {
//         filter: invert(1);
//     }
// }
a
{
    .link-trait;
}