@main-color: #000022;
@base-color: #FFFFFF;
@accent-color: #228844;
//@active-color: #21788B;
@active-color: #6F7F00;
@delete-color: #831B50;
@dark-main-color: @base-color;
@dark-base-color: @main-color;

*
{
    font-family: ui-sans-serif, "ヒラギノ角ゴ Pro w4", Roboto, Meiryo;
    font: -apple-system-body;
    outline:none;
}
.monospace
{
    font-family: monospace;
}
body
{
    margin: 0px;
    margin-bottom: 5rem; // for iOS Safari
    line-height: 100%;
    overflow-x: hidden;
}
body, input, textarea
{
    color: @main-color;
    background-color: @base-color;
}
.locale-parallel-on
{
    .locale-map
    {
        display: none !important;
    }
}
.locale-parallel-off
{
    .locale-parallel
    {
        display: none !important;
    }
}
.icon svg
{
    fill: @main-color;
}
@media (prefers-color-scheme: dark)
{
    body, input, textarea
    {
        color: @dark-main-color;
        background-color: @dark-base-color;
    }
    .icon svg
    {
        fill: @dark-main-color;
    }
    ::-webkit-calendar-picker-indicator
    {
        filter: invert(1);
    }
}
h1
{
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: normal;
    max-width: 100vw;
    overflow-x: hidden;
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &.segmented
    {
        white-space: nowrap;
        justify-content: start;
        button.menu-button
        {
            right: 0.25rem;
            position: absolute;
        }
    }
    align-items: center;

    .icon
    {
        display: inline-block;
        svg
        {
            width: 2.5rem;
            height: 2.5rem;
            fill: @base-color;
        }
        margin-right: 0.25rem;
    }
    label
    {
        border-radius: 32px;
        padding: 4px 16px;
        select,
        select + span
        {
            border-radius: 32px;
            padding: 4px 16px;
            font-size: 1.2rem;
            font-weight: normal;
        }
        select
        {
            margin-left: -16px;
            padding-left: 32px;
        }
        select + span
        {
            color: @base-color;
        }
        &:hover
        {
            background-color: @active-color;
        }
    }
    .segment
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        font-size: 1.2rem;
        padding-left: 0.25rem;
        padding-right: 3rem;
        &:not(.label-segment)
        {
            cursor: pointer;
        }
        &:hover:not(.label-segment)
        {
            background-color: @active-color;
        }
        &:not(:hover)
        {
            background-color: @accent-color;
        }
        &.last-segment
        {
            flex-grow: 1;
            margin-right: -3rem;
        }
    }
    .segment + .segment,
    .segment +.menu-popup + .segment
    {
        margin-left: -2rem;
        border-left-style: solid;
        border-left-width: 1px;
        border-left-color: @base-color;
        overflow-x: hidden;
        transform: skewX(150deg);
        & > *
        {
            transform: skewX(-150deg);
        }
        padding-left: 0.5rem;
        .icon
        {
            padding: 0.5rem 0.25rem;
            svg
            {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }
    .segment +.menu-popup
    {
        white-space: nowrap;
    }
    &.locale-parallel-off
    {
        .segment:not(.last-segment):not(:hover)
        {
            padding-right: 2.25rem;
            .segment-title
            {
                display: none;
            }
        }
    }
    button.menu-button
    {
        margin: 0px;
        margin-right: 0.25rem;
        &:not(:hover)
        {
            color: @base-color;
            //border-color: @base-color;
            background-color: @accent-color;
            svg
            {
                fill: @base-color;
            }
        }
    }
    .menu-popup:not(.segment-popup)
    {
        top: calc(10px + 2.0rem);
        right: 0.5rem;
    }
}
h2
{
    padding: 0.25rem 0.5rem;
    font-size: 1.0rem;
}
h1, h2
{
    margin: 0rem;
    &, & a
    {
        color: @base-color;
    }
    background-color: @accent-color;
    a:not(:hover)
    {
        text-decoration: none;
    }
}
@media (prefers-color-scheme: dark)
{
    h1
    {
        .icon svg
        {
            fill: @dark-base-color;
        }
        label
        {
            select + span
            {
                color: @dark-base-color;
            }
        }
        button.menu-button:not(:hover)
        {
            float: right;
            color: @dark-base-color;
            //border-color: @dark-base-color;
            svg
            {
                fill: @dark-base-color;
            }
        }
        .segment + .segment,
        .segment +.menu-popup + .segment
        {
            border-left-color: @dark-base-color;
        }
        }
    h1, h2
    {
        &, & a
        {
            color: @dark-base-color;
        }
    }
}
label
{
    cursor: pointer;
    // position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    &:hover
    {
        color: @active-color;
    }
    select
    {
        position: absolute;
        color: transparent;
        background-color: transparent;
        pointer-events: auto;
        // width: calc(100% - 10px);
        // min-width: calc(100% - 10px);
        // max-width: calc(100% - 10px);
        // margin-left: calc(10px - 100%);
        // text-align: right;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;
        cursor: pointer;
        border-width: 0px;
        border-style: none;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        option
        {
            color: initial;
        }
    }
    select + span
    {
        text-align: center;
        pointer-events: none;
    }
}
input
{
    margin: 4px;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    border-color: #888;
    font-size: 1.0rem;
    min-width: 120px;
}
button
{
    margin: 4px;
    // background-color: @base-color;
    background-color: transparent;
    color: @accent-color;
    border-color: @accent-color;
    padding: 4px 16px;
    border-radius: 32px;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    font-size: 1.0rem;
    cursor: pointer;
    &.menu-button
    {
        // background-color: transparent;
        border-color: transparent;
        padding: 4px;
        svg
        {
            width: 1.5rem;
            height: 1.5rem;
            fill: @accent-color;
        }
    }
    &:hover
    {
        color: @base-color;
        background-color: @active-color;
        border-color: @active-color;
        &.menu-button
        {
            svg
            {
                fill: @base-color;
            }
        }
    }
}
@media (prefers-color-scheme: dark)
{
    button
    {
        // background-color: @dark-base-color;
        &:hover
        {
            color: @dark-base-color;
            &.menu-button
            {
                svg
                {
                    fill: @dark-base-color;
                }
            }
        }
    }
}
.long-button
{
    position: relative;
    margin: 0.5rem 1rem;
    width: calc(100% - (2rem + 2px));
    max-width: 640px;
    float: center;
}
button.default-button
{
    color: @base-color;
    background-color: @accent-color;
    border-color: @accent-color;
    &:hover
    {
        background-color: @active-color;
        border-color: @active-color;
    }
}
@media (prefers-color-scheme: dark)
{
    button.default-button
    {
        color: @dark-base-color;
        &:hover
        {
            background-color: @active-color;
            border-color: @active-color;
        }
    }
}
.menu-popup
{
    &:not(.show)
    {
        display: none;
    }
    position: absolute;
    top: calc(10px + 1.5rem);
    right: 0.0rem;
    z-index: 99999;
    &, & > a
    {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        flex-direction: column;
    }
    color: @accent-color;
    background-color: @base-color;
    border-color: @accent-color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
    overflow: hidden;
    a, button
    {
        // display: block !important;
        border-radius: 0px;
        margin: 0px !important;
        border-style: none;
        border-width: 0px;
        font-size: 1.2rem;
        text-align: left;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        svg
        {
            width: 1.5rem;
            height: 1.5rem;
        }
        &:not(:hover)
        {
            &.current-item
            {
                color: @base-color;
                background-color: @accent-color;
                @media (prefers-color-scheme: dark)
                {
                    color: @dark-base-color;
                }
            }
            &:not(.current-item)
            {
                fill: @accent-color;
                &.current-item
                {
                    fill: @base-color;
                }
            }
        }
        &.current-item,
        &:hover
        {
            svg
            {
                fill: @base-color;
                @media (prefers-color-scheme: dark)
                {
                    fill: @dark-base-color;
                }
            }
        }
    }
    a button
    {
        width: 100%;
    }
}
@media (prefers-color-scheme: dark)
{
    .menu-popup
    {
        background-color: @dark-base-color;
    }
}
.hide
{
    display: none;
}
.check-button
{
    display: flex;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    flex-direction: row;
    text-align: left;
    padding: 4px;
    margin: 0px;
    border-radius: 0px;
    border-style: none;
    border-width: 0px;

    svg
    {
        width: 1.5em;
        height: 1.5em;
        margin-right: 4px;
        fill: @accent-color;
    }
    &:hover svg
    {
        fill: @base-color;
        @media (prefers-color-scheme: dark)
        {
            fill: @dark-base-color;
        }
    }
    &:not(.checked) svg
    {
        visibility: hidden;
    }
}
.popup
{
    border-style: solid;
    border-width: 1px;
    border-color: @accent-color;
    border-radius: 16px;
    background-color: @base-color;
    overflow: auto;
    min-width: 360px;
    max-width: calc(100vw - 16px);
    @media (prefers-color-scheme: dark)
    {
        background-color: @dark-base-color;
    }
    input
    {
        width: calc(100% - 8px);
    }
    .popup-operator
    {
        width: 100%;
        .cancel-button
        {
            float: left;
            border-color: transparent;
        }
        .default-button
        {
            float: right;
            min-width: 120px;
        }
    }
}
.screen-cover
{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: fade(@main-color, 61.8%);
    z-index: 88888;
    &.fade-in
    {
        animation-name: fade-in;
    }
    &.fade-out
    {
        animation-name: fade-out;
    }
    animation-direction: normal;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes fade-in
{
    0%
    {
        opacity: 0.0;
    }
    100%
    {
        opacity: 1.0;
    }
}
@keyframes fade-out
{
    0%
    {
        opacity: 1.0;
    }
    100%
    {
        opacity: 0.0;
    }
}
.add-remove-tags-popup
{
    .check-button-list
    {
        display: flex;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: stretch;
        flex-direction: column;

        button
        {
            border-color: rgba(128,128,128,0.5);
            border-style: solid;
            border-width: 0px 0px 1px 0px;
        }
    }
}
.button-list
{
    text-align: center;
    padding: 0.5rem;
}
.button-line
{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    button + .menu-button
    {
        margin-left: -1rem;
    }
    .menu-popup
    {
        right: 4px;
    }
    @media (min-width: 640px)
    {
        .menu-popup
        {
            right: calc(50vw - 330px);
        }
    }
}
.horizontal-list
{
    // content-visibility: auto;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100vw;
    box-sizing: border-box;
    // &:not(.empty-list)
    // {
    //     border-color: rgba(128,128,128,0.5);
    //     border-style: solid;
    //     border-width: 0px 0px 1px 0px;
    // }
    ::-webkit-scrollbar
    {
        width: 0px;
    }
}
.history-bar
{
    font-size: 1.0rem;
    padding: 0.5rem;
    & > * + *
    {
        padding-left: 1.0rem;
    }
    background-color: #8884;
    a
    {
        color: @main-color;
        opacity: 0.6;
        &:not(:hover)
        {
            text-decoration: none;
        }
        @media (prefers-color-scheme: dark)
        {
            color: @dark-main-color;
        }
    }
}
.row-flex-list,
.column-flex-list
{
    // content-visibility: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    &:not(.empty-list)
    {
        border-color: rgba(128,128,128,0.5);
        border-style: solid;
        border-width: 1px 0px 0px 1px;
    }
}
.row-flex-list
{
    flex-direction: row;
}
.column-flex-list
{
    flex-direction: column;
    //height: calc(100vh - (2.5rem + 10px));
}
.flex-item
{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: calc(100% / 1);
    border-color: rgba(128,128,128,0.5);
    border-style: solid;
    border-width: 0px 1px 1px 0px;
    margin: 0px;
    @media (min-width:780px)
    {
        min-width: calc((100% - 1px) / 2);
    }
    @media (min-width:1170px)
    {
        min-width: calc((100% - 1px) / 3);
    }
    @media (min-width:1560px)
    {
        min-width: calc((100% - 1px) / 4);
    }
    @media (min-width:1950px)
    {
        min-width: calc((100% - 1px) / 5);
    }
    @media (min-width:2340px)
    {
        min-width: calc((100% - 1px) / 6);
    }
    @media (min-width:2730px)
    {
        min-width: calc((100% - 1px) / 7);
    }
    @media (min-width:3120px)
    {
        min-width: calc((100% - 1px) / 8);
    }
    @media (min-width:3510px)
    {
        min-width: calc((100% - 1px) / 9);
    }
    @media (min-width:3900px)
    {
        min-width: calc((100% - 1px) / 10);
    }
    @media (min-width:4290px)
    {
        min-width: calc((100% - 1px) / 11);
    }
    @media (min-width:4680px)
    {
        min-width: calc((100% - 1px) / 12);
    }
}
.max-column-1 .flex-item
{
    min-width: calc((100% - 1px) / 1);
    max-width: calc((100% - 1px) / 1);
}
.max-column-2 .flex-item
{
    min-width: calc((100% - 1px) / 2);
    max-width: calc((100% - 1px) / 2);
}
.max-column-3 .flex-item
{
    min-width: calc((100% - 1px) / 3);
    max-width: calc((100% - 1px) / 3);
}
.max-column-4 .flex-item
{
    min-width: calc((100% - 1px) / 4);
    max-width: calc((100% - 1px) / 4);
}
.max-column-5 .flex-item
{
    min-width: calc((100% - 1px) / 5);
    max-width: calc((100% - 1px) / 5);
}
.max-column-6 .flex-item
{
    min-width: calc((100% - 1px) / 6);
    max-width: calc((100% - 1px) / 6);
}
.max-column-7 .flex-item
{
    min-width: calc((100% - 1px) / 7);
    max-width: calc((100% - 1px) / 7);
}
.max-column-8 .flex-item
{
    min-width: calc((100% - 1px) / 8);
    max-width: calc((100% - 1px) / 8);
}
.max-column-9 .flex-item
{
    min-width: calc((100% - 1px) / 9);
    max-width: calc((100% - 1px) / 9);
}
.max-column-10 .flex-item
{
    min-width: calc((100% - 1px) / 10);
    max-width: calc((100% - 1px) / 10);
}
.max-column-11 .flex-item
{
    min-width: calc((100% - 1px) / 11);
    max-width: calc((100% - 1px) / 11);
}
.max-column-12 .flex-item
{
    min-width: calc((100% - 1px) / 12);
    max-width: calc((100% - 1px) / 12);
}
.item-title
{
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.4em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 1.4em;
    margin-right: -120px;
    cursor: pointer;
    svg
    {
        width: 1.4em;
        height: 1.4em;
        margin-right: 4px;
    }
    &:hover
    {
        color: @active-color;
        svg
        {
            fill: @active-color;
        }
    }
    &:not(:hover)
    {
        color: @main-color;
        text-decoration: none;
        svg
        {
            fill: @main-color;
        }
    }
}
@media (prefers-color-scheme: dark)
{
    .item-title:not(:hover)
    {
        color: @dark-main-color;
        svg
        {
            fill: @dark-main-color;
        }
    }
}
.removed-item
{
    .item-title
    {
        cursor: inherit;
        color: @main-color;
    }
}
@media (prefers-color-scheme: dark)
{
    .removed-item
    {
        .item-title
        {
            color: @dark-main-color;
        }
    }
}
.list-item,
.task-item,
.removed-item
{
    padding: 0.5rem;
    //min-width: calc((100vw / 8) + 1px);
    //width: 480px;
    //max-width: 100vw;

    .item-header
    {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        .item-title
        {
            max-width: calc(100% - 180px);
        }
    }
}
.task-item
{
    .item-header
    {
        padding-bottom: 0.5rem;
    }
    .item-tags
    {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.5rem;
        margin: 0px -0.5rem;
        background-color: #8884;
        height: 1rem;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        a
        {
            &:not(:hover)
            {
                opacity: 0.6;
                text-decoration: none;
                color: @main-color;
                @media (prefers-color-scheme: dark)
                {
                    color: @dark-main-color;
                }
            }
            &:hover
            {
                color: @active-color; // 本来はこっちなんだけど、これだと流石に視認し辛い・・・
                //color: @accent-color;
            }
        }
        a + a
        {
            margin-left: 1rem;
        }
    }
    .item-information
    {
        padding: 0.5rem;
        margin: -0.5rem;
        margin-top: 0px;
        *
        {
            line-height: 1.4em;
        }
        .label
        {
            font-size: 1.0rem;
            opacity: 0.4;
            margin-right: -50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 180px);
            &::after
            {
                content: ":";
            }
        }
        .value
        {
            font-size: 1.0rem;
            opacity: 0.4;
            float: right;
        }
    }
}
.removed-item
{
    .item-header
    {
        padding-bottom: 0.5rem;
    }
    .item-information
    {
        padding: 0.5rem;
        margin: -0.5rem;
        margin-top: 0rem;
        background-color: rgba(128,128,128,0.4);
        *
        {
            line-height: 1.4em;
        }
        .label
        {
            font-size: 1.0rem;
            opacity: 0.4;
            margin-right: -50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: calc(100% - 180px);
            &::after
            {
                content: ":";
            }
        }
        .value
        {
            font-size: 1.0rem;
            opacity: 0.4;
            float: right;
        }
    }
}
.locale-parallel-on .task-item .item-header .item-title
{
    max-width: calc(100% - 180px);
}
.locale-parallel-off .task-item .item-header .item-title
{
    max-width: calc(100% - 120px);
}
.item-operator
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    button
    {
        display: inline-block;
        margin: 0px;
    }
    button+button
    {
        margin-left: 4px;
    }
}
.history-list
{
    .history-item
    {
        position: relative;
        padding: 0.5rem;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        height: 3.8rem;
        .item-title
        {
            max-width: calc(100% - 150px);
        }
        .item-information
        {
            width: 100%;
            line-height: 1.4em;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            .value
            {
                opacity: 0.4;
                float: right;
            }
        }
        .item-operator
        {
            padding-left: 0.5rem;
        }
        // .item-information
        // {
        //     & > *
        //     {
        //         display: inline-block !important;
        //         //width: calc(50% - 2rem);
        //         line-height: 1.4em;
        //         display: flex;
        //         flex-wrap: wrap;
        //         align-items: center;
        //         justify-content: space-between;
        //         flex-direction: row;
        //     }
        //     .value
        //     {
        //         float: right;
        //         text-align: right;
        //     }
        // }
    }
}
@media (prefers-color-scheme: dark)
{
    .history-list .history-item .item-title:not(:hover)
    {
        color: @dark-main-color;
    }
}
.todo-screen
{
    .task-item
    {
        padding-top: 0px;
    }
    .tick-list
    {
        .tick-item
        {
            position: relative;
            padding: 0.5rem;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            white-space: nowrap;
            height: 3.8rem;
            .item-information
            {
                width: 100%;
                & > *
                {
                    opacity: 0.6;
                    width: 100%;
                    line-height: 1.4em;
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    // .value
                    // {
                    //     float: right;
                    // }
                }
            }
            .item-operator
            {
                padding-left: 0.5rem;
            }
        }
    }
}
.welcome-screen
{
    & > .application-icon
    {
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: 400px;
        min-width: 25vw;
        min-height: 25vw;
        max-width: 90vw;
        // max-height: 80vh;
        display: block;
        // .loading-spinner;
        // animation-iteration-count: 1;
    }
}
.updating-screen
{
    h1
    {
        margin-bottom: 1em;
        text-align: center;
    }
    & > .application-icon
    {
        margin-left: auto;
        margin-right: auto;
        // width: 240px;
        // height: 240px;
        // max-width: 60vw;
        // max-height: 50vh;
        width: 400px;
        height: 400px;
        min-width: 25vw;
        min-height: 25vw;
        max-width: 90vw;
        // max-height: 80vh;
        display: block;
        .loading-spinner;
        // animation-iteration-count: infinite;
        animation-iteration-count: 1;
    }
    // .message
    // {
    //     text-align: center;
    //     padding: 0.5rem;
    //     font-size: 2.5rem;
    // }
    .button-list
    {
        animation-name: late-fade-in;
        animation-direction: normal;
        animation-delay: 0s;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }
}
@keyframes late-fade-in
{
    0%
    {
        opacity: 0.0;
    }
    90%
    {
        opacity: 0.0;
    }
    100%
    {
        opacity: 1.0;
    }
}
.export-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (2.5rem + 10px));
    }
}
.import-screen
{
    textarea
    {
        width: 100vw;
        height: calc(100vh - (12.5rem + 10px));
    }
}
.application-form
{
    button
    {
        margin-left: calc(8em + 4px);
        width: 16em;
    }
}
.loading-spinner
{
    animation-name: loading-spinner;
    animation-direction: normal;
    animation-delay: 0s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}
@keyframes loading-spinner
{
    0%
    {
        transform: rotate(0deg);
    }
    // 10%
    // {
    //     transform: rotate(360deg);
    // }
    100%
    {
        transform: rotate(360deg);
    }
}
